* {
	box-sizing: border-box;
}
/*  Body Part*/
body {
	margin-left: 1% !important;
}

.logo {
	border: 5px solid #02b3e4;
	border-radius: 50%;
}

main {
	background-image: url("../images/headerbackground.jpg");
}

/* logo */
header img {
	width: 120px;
}


/* Name and Occupation */
.title {
	text-transform: uppercase;
}


hr {
	height: 0.4em;
	color: #7d97ad;
	background-color: #7d97ad;
}

/* Cover Photo Section*/
.cover {
	max-width: 950px;
	margin: 0px auto;
}

/* project image */
article img {
	margin: 0 auto;
	width: 400px;
	height: 300px !important;
}

/* projects */
.featured {
	background-color: rgba(255,255,255,0.5);
}

/* featured word */
section article {
	text-align: center;
}


/* main title: i.e name */
h1 {
	font-family: "Raleway", sans-serif;
	font-size: 4em;
}

/*  Featured Work*/
h2 {
	color: #7d97ad  !important;
}

/* Occupation: front end developer */
h3 {
	font-family: "Open Sans",sans-serif;
	font-size: 1.7em;
}

/* Project link */
a {
	font-size: 1.3em;
}

h3, a {
	color: #2d3c49 !important;
}

/* Title of project */
main h3 {
	font-weight: 200 !important;
}

/* contact me part */
footer {
	margin-right: 0.1% !important;
	height: 300px;
	padding: 30px;
	background-color: #2d3c49;
	text-align: center;
}

footer ul {
	list-style-type: none;
	padding-top: 5%;
}

footer li {
	display: inline;
	margin: 5%;
}

footer a {
	color: #02b3e4 !important; 
}

cite {
	float: right;
	color: #fff;
}
